In [8]:
#Pandas 패키지 : 시리즈(Series) 클래스와 데이터 프레임(DataFrame) 클래스 제공
#시리즈 클래스 : 각 데이터의 의미를 표시하는 인덱스를 붙일 수 있다.
import pandas as pd
import numpy as np

In [4]:
#시리즈 생성 : 1차원 배열 형식으로 Series 캘ㄹ스 생성자에 넣어주면 시리즈 클래스 객체 생성, 인덱스 길이와 데이터 길이는 동일해야 함
s=pd.Series([9904312,3448737,2890451,2466052], index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [6]:
pd.Series(range(10, 14)) #인덱스 지정 x : 시리즈의 인덱스는 0부터 시작하는 정수값

0    10
1    11
2    12
3    13
dtype: int32

In [7]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [9]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [10]:
s.name="인구"
s.index.name="도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [11]:
#시리즈 연산 NumPy 배열과 동일하게 벡터화 연산가능
s/1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [12]:
#시리즈 인덱싱
s[1], s["부산"]

(3448737, 3448737)

In [13]:
s[3], s["대구"]

(2466052, 2466052)

In [15]:
s[[0,3,1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [16]:
s[["서울","대구","부산"]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [17]:
s[(250e4<s)&(s<500e4)]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [18]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [19]:
s["부산":"대구"]

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [20]:
s0 = pd.Series(range(3), index=["a","b","c"])
s0

a    0
b    1
c    2
dtype: int32

In [21]:
s0.a

0

In [22]:
s0.b

1

In [23]:
#시리즈와 사전 자료형
"서울" in s

True

In [24]:
"대전" in s

False

In [25]:
for k, v in s.iteritems():
    print("%s = %d" % (k,v))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [28]:
s2 = pd.Series({"서울":9631482,"부산":3393191,"인천":2632035,"대전":1490158})
s2

대전    1490158
부산    3393191
서울    9631482
인천    2632035
dtype: int64

In [29]:
#인덱스 기반 연산
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [30]:
ds.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [31]:
ds[ds.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [32]:
rs = (s - s2) / s2*100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [33]:
#데이터의 갱신, 추가, 삭제
rs["부산"] = 1.63
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [34]:
rs["대구"] = 1.41
rs

부산    1.630000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

In [35]:
del rs["서울"]
rs

부산    1.630000
인천    9.818107
대구    1.410000
dtype: float64

In [39]:
#연습문제1
a=pd.Series([87,64,89,61,25], index=["국어","수학","영어","경제","물리"])
a.name="점수"
a.index.name="과목"
a

과목
국어    87
수학    64
영어    89
경제    61
물리    25
Name: 점수, dtype: int64

In [40]:
b=pd.Series([163,175,158,180,179], index=["A","B","C","D","E"])
b.name="키"
b.index.name="익명"
b

익명
A    163
B    175
C    158
D    180
E    179
Name: 키, dtype: int64

In [45]:
a+a

과목
국어    174
수학    128
영어    178
경제    122
물리     50
Name: 점수, dtype: int64

In [2]:
#데이터프레임 클래스 : 2차원 행렬에서 인덱스를 붙인 것과 비슷
#데이터프레임 생성 
data = {
    "2015": [9904312,3448737,2890451,2466052],
    "2010": [9631482,3393191,2632035,2431774],
    "2005": [9762546,3512547,2517680,2456016],
    "2000": [9853972,3655437,2466338,2473990],
    "지역": ["수도권","경상권","수도권","경상권"],
    "2010-2015 증가율": [0.0283,0.0163,0.0982,0.0141]
}
columns = ["지역","2015","2010","2005","2000","2010-2015 증가율"]
index=["서울","부산","인천","대구"]
df=pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [48]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [49]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [50]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [3]:
df.index.name="도시"
df.columns.name="특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [4]:
#데이터프레임 열 인덱싱
df["지역"]

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [53]:
df[["2010","2015"]]

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [54]:
df[["2010"]]

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

In [55]:
type(df[["2010"]])

pandas.core.frame.DataFrame

In [56]:
df["2010"]

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [57]:
type(df["2010"])

pandas.core.series.Series

In [6]:
df[0]
#데이터프레임의 열 인덱스가 문자열 라벨을 가지고 있는 경우에는 순서를 나타내는 정수 인덱스를 열 인덱싱에 사용할 수 없다. 
# 정수 인덱싱의 슬라이스는 뒤에서 설명하겠지만 행(row)을 인덱싱할 때 사용하므로 열을 인덱싱할 때는 쓸 수 없다.

KeyError: 0

In [10]:
#다만 원래부터 문자열로 된 열 라벨이 주어지지 않아서 정수형 열 인덱스가 만들어진 경우에는 인덱스 정수를 사용할 수 있다.
df2=pd.DataFrame(np.arange(12).reshape(3,4))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [12]:
df2[2]

0     2
1     6
2    10
Name: 2, dtype: int32

In [13]:
#열 데이터의 갱신, 추가, 삭제
df["2010-2015 증가율"] = df["2010-2015 증가율"]*100
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

In [14]:
df["2005-2010 증가율"] = ((df["2010"]-df["2005"])/df["2005"]*100).round(2)
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83          -1.34
부산  경상권  3448737  3393191  3512547  3655437           1.63          -3.40
인천  수도권  2890451  2632035  2517680  2466338           9.82           4.54
대구  경상권  2466052  2431774  2456016  2473990           1.41          -0.99

In [15]:
del df["2010-2015 증가율"]
df

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

In [16]:
# 개별 데이터 인덱싱
df["2015"]["서울"]

9904312

In [17]:
#행 단위 인덱싱 : 행 단위 인덱싱 -> 슬라이싱(slicing). 시리즈와 같이 라벨 슬라이싱도 가능
df[:1]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34

In [18]:
df[1:2]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437           -3.4

In [19]:
df[1:3]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54

In [20]:
df["서울":"부산"]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40

In [27]:
#연습문제2
# 원하는 데이터로 데이터프레임 생성
data2 = {
    "NM": ["2급 호텔","2급 호텔","특급호텔","2급 호텔","특급호텔"],
    "GROUP": ["숙박","숙박","숙박","숙박","숙박"],
    "YEAR": [2016,2016,2016,2016,2016],
    "TAMT": [162,368679,16357,372031,54],
    "TIME": ["오후","저녁","오전","저녁","오후"]
}
columns = ["NM","GROUP","YEAR","TAMT","TIME"]
index=["JP","CN","TH","TW","PH"]
df2=pd.DataFrame(data2, index=index, columns=columns)
df2
type(df2["YEAR"])

pandas.core.series.Series