In [1]:
#Pandas : numpy 행렬과 같이 쉼표를 사용한 형식의 인덱싱 지원 위해 인덱서 제공
#loc : 라벨 기반의 복수 인덱싱
#iloc:숫자 기반의 복수 인덱싱

In [2]:
#loc 인덱서 : (행인덱스, 열인덱스) 형식의 인덱싱 가능, but 행/열 인덱서들이 다음 중 하나여야 함.
#정수 인덱스 아닌 라벨값(원래 정수 인덱스 예외)
#라벨 값의 리스트
#라벨 값의 슬라이싱
#불리언 리스트, 1차원 배열, 시리즈(데이터 프레임은 안됨)
#데이터프레임을 입력 -> 위의 값을 반환하는 함수

In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame(np.arange(10, 22).reshape(3,4),index=["a","b","c"],columns=["A","B","C","D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [7]:
df.loc["a","A"]

10

In [8]:
df.loc["b":,"A"]

b    14
c    18
Name: A, dtype: int32

In [9]:
df.loc["a",:]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [10]:
df.loc[["a","b"],["B","D"]]

    B   D
a  11  13
b  15  17

In [11]:
df.loc[df.A>10, :]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [12]:
#loc인덱스 -> 하나의 행을 시리즈 자료형으로 뽑아낼 수 있다. 만약 loc 인덱서 사용하지 않으면 슬라이싱 -> 이 경우 데이터프레임 자료형 바ㅣㄴ환

In [13]:
df.loc["a",:]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [14]:
df[:1]

    A   B   C   D
a  10  11  12  13

In [15]:
# df.loc[:, df[:1] <= 11]  # 데이터프레임은 loc 인덱서에 넣을 수 없으므로 에러!
df.loc[:, df.loc["a", :] <= 11] # 이렇게 해야 한다.

    A   B
a  10  11
b  14  15
c  18  19

In [16]:
def find_rows(df):
    return df.A > 12

In [17]:
find_rows(df)

a    False
b     True
c     True
Name: A, dtype: bool

In [18]:
df.loc[find_rows(df), ["C"]]

    C
b  16
c  20

In [19]:
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [20]:
df.loc["e"]=[90, 91, 92, 93]
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21
e  90  91  92  93

In [21]:
#iloc 인덱서 : loc 인덱서와 반대로 라벨이 아닌 정수 인덱스만 받는다

In [22]:
df.iloc[0, 1]

11

In [23]:
df.iloc[:2,2]

a    12
b    16
Name: C, dtype: int64

In [24]:
df.iloc[0,-2:]

C    12
D    13
Name: a, dtype: int64

In [25]:
df.iloc[2:3,1:3]

    B   C
c  19  20

In [26]:
#loc 인덱서와 마찬가지로 인덱스가 하나만 들어가면 행을 선택

In [27]:
df.iloc[-1]

A    90
B    91
C    92
D    93
Name: e, dtype: int64

In [28]:
df.iloc[-1] = df.iloc[-1]*2
df

     A    B    C    D
a   10   11   12   13
b   14   15   16   17
c   18   19   20   21
e  180  182  184  186

In [29]:
#연습문제1
df2=pd.DataFrame(np.arange(105, 130).reshape(5,5),index=["a","b","c","d","e"],columns=["A","B","C","D","E"])
df2

     A    B    C    D    E
a  105  106  107  108  109
b  110  111  112  113  114
c  115  116  117  118  119
d  120  121  122  123  124
e  125  126  127  128  129

In [32]:
df2.iloc[-1]

A    125
B    126
C    127
D    128
E    129
Name: e, dtype: int32

In [33]:
df2.iloc[3,1]

121

In [34]:
df2.iloc[3:5,-1]

d    124
e    129
Name: E, dtype: int32

In [36]:
df2.iloc[:4,:2]

     A    B
a  105  106
b  110  111
c  115  116
d  120  121

In [37]:
df2.loc["a"]

A    105
B    106
C    107
D    108
E    109
Name: a, dtype: int32

In [41]:
df2.loc[["c","e"],["D","A"]]

     D    A
c  118  115
e  128  125

In [45]:
df2.loc[:, df2.loc["a", :] < 108] # 이렇게 해야 한다.

     A    B    C
a  105  106  107
b  110  111  112
c  115  116  117
d  120  121  122
e  125  126  127

In [51]:
def find_rows(df2):
    return df2.C>120

In [52]:
find_rows(df2)

a    False
b    False
c    False
d     True
e     True
Name: C, dtype: bool

In [53]:
df2.loc[find_rows(df2), ["E"]]

     E
d  124
e  129

In [54]:
df2[:3]

     A    B    C    D    E
a  105  106  107  108  109
b  110  111  112  113  114
c  115  116  117  118  119